*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: darkblue;
    font-family: Helvetica, Arial, sans-serif;
    background-color:azure;
  }
  header {
    padding: 20px 35px;
    background-color: dimgray;
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: darkblue;
    margin: 0;
    display: inline;
    background-color: cadetblue;
  }
  header nav {
    float: right;
    margin: 7px 0;
  }
  header nav ul li{
    display: inline;
  }
  header nav ul li a{
    margin: 0 30px;
    font-weight:normal;
    font-size: 17px;
    color: blue
  }
  section {
    padding: 60px;
}
  .Cool-Subtitle {
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: larger;
    background-color: cadetblue;
  }
  .Page-Style {
      background-image:url("../assets/images/Applejack.full.1297074.jpg");
      padding: 100px 200px;
      position: relative;
  }